<div class="card">
  <div class="header">User Counts</div>

  <div class="body">
    <section>
      <div class="heading">User Breakdown:</div>
      <div class="count">Trial Users: {{ trialUsers }}</div>
      <div class="count">Pending Users: {{ pendingUsers }}</div>
      <div class="count">Invitation Users: {{ invitationUsers }}</div>
      <div class="count">Free Users: {{ freeUsers }}</div>
      <div class="count">Premium Users: {{ premiumUsers }}</div>
    </section>

    <section>
      <div class="heading">User Confirmations: </div>
      <div class="count">Registered Users: {{ registeredUsers }}</div>
      <div class="count">Confirmed Users: {{ confirmedUsers }}</div>
    </section>
  </div>
</div>
