<div class="card">
  <div class="header">User Counts</div>

  <div class="body">
    <section>
      <div class="heading">Trial Users: {{ users?.trial?.total }}</div>
      <div class="count">Inactive Users: {{ users?.trial?.inactive }}</div>
      <div class="count">Confirmed: {{ users?.trial?.confirmed }}</div>
      <div class="count">Unconfirmed: {{ users?.trial?.unconfirmed }}</div>
    </section>

    <section>
      <div class="heading">Premium Users: {{ users?.premium?.total }}</div>
      <div class="count">Active Users: {{ users?.premium?.active }}</div>
      <div class="count">Cancelled Users: {{ users?.premium?.cancelled }}</div>
      <div class="count">Inactive Users: {{ users?.premium?.inactive }}</div>
    </section>

    <section>
      <div class="heading">User Confirmations: </div>
      <div class="count">Registered Users: {{ users?.total?.registered }}</div>
      <div class="count">Confirmed Users: {{ users?.total?.confirmed }}</div>
    </section>
  </div>
</div>
