node_modules
logs/cypher-log*
configs/sendgrid.js
configs/stripe.js
configs/amazon.js
configs/paypal.js
configs/mongo.js
.DS_Store
._.DS_Store
public/static/*.txt
public/static/*.ico
public/static/*.html
public/static/*.js
public/static/*.css
